---
- name: Install curl
  apt:
    name: curl
    state: present

- name: Create log sender script
  template:
    src: send-nginx-logs.sh.j2
    dest: /usr/local/bin/send-nginx-logs.sh
    mode: '0755'

- name: Create systemd service for log sender
  template:
    src: nginx-log-sender.service.j2
    dest: /etc/systemd/system/nginx-log-sender.service

- name: Reload systemd
  systemd:
    daemon_reload: yes

- name: Enable and start log sender service
  systemd:
    name: nginx-log-sender
    state: started
    enabled: yes
