---
- name: Configure Filebeat
  template:
    src: filebeat.yml.j2
    dest: /etc/filebeat/filebeat.yml
  notify: restart filebeat

- name: Enable and start Filebeat
  systemd:
    name: filebeat
    enabled: yes
    state: started
