---
- name: Add Docker repository key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker repository
  apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present

- name: Add Elastic repository from Yandex mirror
  apt_repository:
    repo: "deb https://mirror.yandex.ru/mirrors/elastic/7.x/ stable main"
    state: present
  when: "'elasticsearch' not in group_names"  # НЕ добавлять для elasticsearch хоста

- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Docker and dependencies
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: present

- name: Install Filebeat package
  apt:
    name: filebeat
    state: present
  when: "'elasticsearch' not in group_names"  # Filebeat не нужен на elasticsearch

- name: Add ubuntu user to docker group
  user:
    name: ubuntu
    groups: docker
    append: yes
