#cloud-config
users:
  - name: ubuntu
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ${SSH_PUBLIC_KEY}

package_update: true
package_upgrade: true

packages:
  - openssh-server
  - nginx
  - curl

runcmd:
  - systemctl enable ssh
  - systemctl start ssh
  - ufw allow 22
  - ufw allow 80
  - echo "Web server $(hostname) is ready!" > /var/www/html/index.html
