---
- name: Install Zabbix agent from Ubuntu repositories
  apt:
    name: zabbix-agent
    state: present
    update_cache: yes

- name: Configure Zabbix agent
  template:
    src: zabbix_agentd.conf.j2
    dest: /etc/zabbix/zabbix_agentd.conf
  notify: restart zabbix-agent

- name: Start and enable Zabbix agent
  systemd:
    name: zabbix-agent
    state: started
    enabled: yes
