[Unit]
Description=Nginx Log Sender to Elasticsearch
After=network.target nginx.service

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/send-nginx-logs.sh
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
